---
layout: default
---

<div class="intro secondary-bg section-vertical-padding">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <img src="images/nakupuna-logo.png">
      </div>
      <div class="eight offset-by-one columns">
        <h3 class="intro-text">Hi The Na Kupuna Ukulele Club was formed in 1997 by a group of island and mainland born senior citizens for the purpose of fellowship and the love of music. Na Kupuna in the Hawaiian language means elders or seniors. They were one of the 21 groups chosen by the city of Chicago to open Millennium Park in 2004 and have made many appearances throughout Chicago and the near suburbs.</h3>
      </div>
    </div>
  </div>
</div>

<div class="performances section-vertical-padding">
  <div class="container">
    <h2>Da' Performances</h2>
    <div class="row">
      <div class="four columns">
        <img src="images/lincolnwood-01.jpg">
        <h3>Lincolnwood Town Center Mall</h3>
        <p>Lincolnwood, Illinois</p>
        <p>10.10.2016</p>
      </div>
      <div class="four columns">
        <img src="images/waikiki.jpg">
        <h3>44th Annual Ukulele Festival</h3>
        <p>Waikiki, Hawaii</p>
        <p>7.20.2014</p>
      </div>
      <div class="four columns">
        <img src="images/lincolnwood-02.jpg">
        <h3>Lincolnwood Town Center Mall</h3>
        <p>Lincolnwood, Illinois</p>
        <p>12.12.2015</p>
      </div>
    </div>
  </div>
</div>

<div class="music secondary-bg section-vertical-padding">
  <div class="container">
    <h2>Check U'm Out</h2>
    <div class="row">
      {% include soundcloud.html %}
    </div>
  </div>
</div>

<div class="photos secondary-bg section-vertical-padding">
  <div class="container text-center">
    <h2 class="secondary-header">Da Kine Photoz</h2>
    <div class="row">
    </div>
  </div>
</div>

<div class="founders section-vertical-padding">
  <div class="container">
    <h2>Foundaz</h2>
    <div class="row">
      <div class="three columns text-center founder-block">
        <img src="images/guy-fpo.png">
        <h3>Jimmie Mahalo</h3>
      </div>
      <div class="three columns text-center founder-block">
        <img src="images/girl-fpo.png">
        <h3>Suzy Aloha</h3>
      </div>
      <div class="three columns text-center founder-block">
        <img src="images/guy-fpo.png">
        <h3>Fred Manapua</h3>
      </div>
      <div class="three columns text-center founder-block">
        <img src="images/girl-fpo.png">
        <h3>Jen Lilikoi</h3>
      </div>
    </div>
  </div>
</div>

<div class="press secondary-bg section-vertical-padding">
  <div class="container">
    <h2>Talkin' Story</h2>
    <div class="row">
      <div class="four columns">
        <img src="images/thumb-fpo-02.jpg">
        <h3>"Four Strings and a Cloud of Dust"</h3>
        <p>Chicago Reader</p>
      </div>
      <div class="four columns">
        <img src="images/thumb-fpo-02.jpg">
        <h3>"Family Brings Culture to Buffalo Grove"</h3>
        <p>Buffalo Grove Patch</p>
      </div>
      <div class="four columns">
        <img src="images/thumb-fpo-02.jpg">
        <h3>"Hawaiian Culture in Illinois"</h3>
        <p>Hawaii For Visitors</p>
      </div>
    </div>
  </div>
</div>

<div class="shop section-vertical-padding">
  <div class="container">
    <h2>Goodies</h2>
    <div class="row">
      <div class="four columns text-center">
        <img src="images/shirt-fpo.png">
        <h3>Na Kupuna Ukulele Club T-Shirt</h3>
      </div>
      <div class="four columns text-center">
        <img src="images/shirt-fpo.png">
        <h3>Na Kupuna Ohana Sticker</h3>
      </div>
      <div class="four columns text-center">
        <img src="images/shirt-fpo.png">
        <h3>Memories of Aloha CD Album</h3>
      </div>
    </div>
    <div class="text-center">
      <h3 class="button">Shop Now</h3>
    </div>
  </div>
</div>

<div class="music secondary-bg section-vertical-padding">
  <div class="container">
    <div class="row">
      {% include weather.html %}
    </div>
  </div>
</div>
