---
layout: default
---

<div class="intro secondary-bg section-vertical-padding">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h1>The Na Kupuna Ukulele Club</h1>
      </div>
      <div class="eight columns">
        <p>The Na Kupuna Ukulele Club was formed in 1997 by a group of island and mainland born senior citizens for the purpose of fellowship and the love of music. Na Kupuna in the Hawaiian language means elders or seniors. They were one of the 21 groups chosen by the city of Chicago to open Millennium Park in 2004 and have made many appearances throughout Chicago and the near suburbs hello hello.</p>
      </div>
    </div>
  </div>
</div>

<div class="performances section-vertical-padding">
  <div class="container">
    <h2>Da' Performances</h2>
    <div class="row">
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>12.12.2015</p>
        <p>Lincolnwood Town Center</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>7.20.2014</p>
        <p>Ukulele Festival Waikiki</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>9.20.2013</p>
        <p>Norwood Park Senior Center</p>
      </div>
    </div>
  </div>
</div>

<div class="music secondary-bg section-vertical-padding">
  <div class="container">
    <h2>Check U'm Out</h2>
    <div class="row">
      {% include soundcloud.html %}
    </div>
  </div>
</div>

<div class="photos secondary-bg section-vertical-padding">
  <div class="container">
    <h2>Da Kine Photoz</h2>
    <div class="row">
    </div>
  </div>
</div>

<div class="founders section-vertical-padding">
  <div class="container">
    <h2>Foundaz</h2>
    <div class="row">
      <div class="three columns">
        <img src="http://placehold.it/200x300">
        <p>Jimmie Mahalo</p>
      </div>
      <div class="three columns">
        <img src="http://placehold.it/200x300">
        <p>Suzy Aloha</p>
      </div>
      <div class="three columns">
        <img src="http://placehold.it/200x300">
        <p>Fred Manapua</p>
      </div>
      <div class="three columns">
        <img src="http://placehold.it/200x300">
        <p>Jen Lilikoi</p>
      </div>
    </div>
  </div>
</div>

<div class="press secondary-bg section-vertical-padding">
  <div class="container">
    <h2>Talkin' Story</h2>
    <div class="row">
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>"Four Strings and a Cloud of Dust"</p>
        <p>Chicago Reader</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>"Family Brings Culture to Buffalo Grove"</p>
        <p>Buffalo Grove Patch</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>Hawaiian Culture in Illinois</p>
        <p>Hawaii For Visitors</p>
      </div>
    </div>
  </div>
</div>

<div class="shop section-vertical-padding">
  <div class="container">
    <h2>Goodies</h2>
    <div class="row">
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>Na Kupuna Ukulele Club T-Shirt</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>Na Kupuna Ohana Sticker</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/350x250">
        <p>Memories of Aloha CD Album</p>
      </div>
    </div>
    <div class="button">Shop Now</div>
  </div>
</div>

<div class="music secondary-bg section-vertical-padding">
  <div class="container">
    <div class="row">
      {% include weather.html %}
    </div>
  </div>
</div>
