/**
 * General content
 */

.section-vertical-padding {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 3;
}

.section-vertical-padding--large {
  padding-top: $spacing-unit * 4;
  padding-bottom: $spacing-unit * 4;
}

/**
 * Top marquee
 */

 .intro-section {
  color: #ffffff;
  background-image: url("../images/sunset.png");
  background-size: cover;
 }

.intro-section p {
  font-size: 1.125rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.intro-section img {
  margin: 0;
}

/**
 * Performances section
 */

.performances-section {
  color: #3C2109;
  background: url("../images/eggshell.jpg") repeat top center;
}

.performances-section a {
  color: #F4EFEC;
}

.performances-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.photo-thumb {
  border: solid 6px #F4EFEC;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  -moz-box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  border-radius: 4px;
}


/**
 * Photos section
 */

.photos-section {
  background-image: url("../images/photocollage.jpg");
  background-position: center;
  background-size: 100%;
  height: 400px;
}

 /**
 * Articles section
 */

.articles-section {
  color: #3C2109;
  background: url("../images/eggshell.jpg") repeat top center;
}

.articles-section a {
  color: #F4EFEC;
}

.articles-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

 /**
 * Music section
 */

.music-section {
  color: #F4EFEC;
  background-image: url("../images/wood.jpg");
  background-size: cover;
}

/**
 * Weather section
 */

 .weather-section {

 }


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-image: url("../images/rainbow-island.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
    height: 600px;
    position: relative;
}

.footer-text {
    position: absolute;
    bottom: 40px;
    color: #ffffff;
    z-index: 99;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.footer-text h4 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.footer-text p {
    font-size: .85rem;
    margin-bottom: .5rem;
}

.footer-text .legal-text{
  font-family: 'Londrina Solid', cursive;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
