/**
 * General content
 */

.section-vertical-padding--small {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
}

.section-vertical-padding {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 3;
}

.section-vertical-padding--large {
  padding-top: $spacing-unit * 4;
  padding-bottom: $spacing-unit * 4;
}

/**
 * Top marquee
 */

 .intro-section {
  padding-bottom: 12rem;
  position: relative;
  background: #f7ab96; /* Old browsers */
  background: -moz-linear-gradient(top, #f7ab96 0%, #ea8dae 52%, #9698c8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7ab96 0%,#ea8dae 52%,#9698c8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7ab96 0%,#ea8dae 52%,#9698c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ab96', endColorstr='#9698c8',GradientType=0 ); /* IE6-9 */
 }

 .ocean-tree {
  position: absolute;
  bottom: 0;
 }

.intro-section p {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  z-index: 9999;
}

.intro-section img {
  margin: 0;
}

/**
 * Performances section
 */

.performances-section {
  background: url("../images/eggshell.jpg") repeat top center;
}

.performances-section a {
  color: #F4EFEC;
}

.performances-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.photo-thumb {
  border: solid 6px #F4EFEC;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  -moz-box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.photo-thumb:hover {
  border-color: #fae2be;
}


/**
 * Photos section
 */

.photos-section {
  background-image: url("../images/photocollage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

 /**
 * Articles section
 */

.articles-section {
  background: url("../images/eggshell.jpg") repeat top center;
}

.articles-section a {
  color: #F4EFEC;
}

.articles-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

 /**
 * Music section
 */

.music-section {
  color: #F4EFEC;
  background-image: url("../images/wood.jpg");
  background-size: cover;
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
}

/**
 * Quote section
 */

.quote-section {
  text-align: center;
  padding-left: 16rem;
  padding-right: 16rem;
 }

.quote-section h2 {
  margin-bottom: 2rem;
  line-height: 3rem;
 }

.quote-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
 }

/**
 * Weather section
 */

.weather-section {
  color: #F4EFEC;
  text-align: center;
  background-image: url("../images/plants.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 6rem;
  padding-right: 6rem;
 }

 .weather-section h3 {
  margin-bottom: 2rem;
 }

.aw-current-weather h3 {
  font-family: 'Londrina Solid', cursive;
 }

.aw-current-weather b {
  font-family: 'Londrina Solid', cursive;
 }

.aw-current-weather p {
  font-family: 'Merriweather', serif;
 }


/**
 * Site footer
 */

.sub-footer {
  padding: $spacing-unit 0;
  background-image: url("../images/rainbow-island.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 400px;
}

.site-footer a {
  color: #f9f098;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #5fc8de;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.flower {
  width: 2rem;
}

footer h4 {
  font-size: .9rem;
  margin-bottom: .75rem;
}

footer p {
  font-size: .7rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

footer a {
  color: #8a5d3b;
}

footer .legal-text{
  font-family: 'Londrina Solid', cursive;
  font-size: 1.125rem;
  letter-spacing: 1px;
}


/**
 * Media Queries
 */

@media (max-width: 1000px) {
  .quote-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 550px) {

  .section-vertical-padding--small {
    padding-top: $spacing-unit * 0;
    padding-bottom: $spacing-unit * 1;
  }

  .section-vertical-padding {
    padding-top: $spacing-unit * 1.5;
    padding-bottom: $spacing-unit * 1.5;
  }

  .section-vertical-padding--large {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .nakupuna-logo {
    width: 8rem;
  }

  .button-spacer {
    margin-bottom: $spacing-unit * 1.5;
  }

  .music-section {
    padding-left: 0;
    padding-right: 0;
  }

  .quote-section {
    padding-left: 0;
    padding-right: 0;
  }

  .quote-section h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .quote-section p {
    font-size: .75rem;
  }

  .weather-section {
    padding-left: 0;
    padding-right: 0;
  }


}
















