/**
 * General content
 */

.section-vertical-padding {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 3;
}

.section-vertical-padding--large {
  padding-top: $spacing-unit * 4;
  padding-bottom: $spacing-unit * 4;
}

/**
 * Top marquee
 */

 .intro-section {
  color: #ffffff;
  padding-bottom: 12rem;
  position: relative;
  background: #f7ab96; /* Old browsers */
  background: -moz-linear-gradient(top, #f7ab96 0%, #ea8dae 52%, #9698c8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7ab96 0%,#ea8dae 52%,#9698c8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7ab96 0%,#ea8dae 52%,#9698c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ab96', endColorstr='#9698c8',GradientType=0 ); /* IE6-9 */
 }

 .ocean-tree {
  position: absolute;
  bottom: 0;
 }

.intro-section p {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  z-index: 9999;
}

.intro-section img {
  margin: 0;
}

/**
 * Performances section
 */

.video-thumb {
  position: relative;
}

 .video-icon {
  position: absolute;
  width: 4rem;
  z-index: 9;
 }

.performances-section {
  color: #3C2109;
  background: url("../images/eggshell.jpg") repeat top center;
}

.performances-section a {
  color: #F4EFEC;
}

.performances-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.photo-thumb {
  border: solid 6px #F4EFEC;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  -moz-box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  box-shadow: 0px 0px 20px 3px rgba(60,33,9,0.15);
  border-radius: 4px;
}


/**
 * Photos section
 */

.photos-section {
  background-image: url("../images/photocollage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

 /**
 * Articles section
 */

.articles-section {
  color: #3C2109;
  background: url("../images/eggshell.jpg") repeat top center;
}

.articles-section a {
  color: #F4EFEC;
}

.articles-section p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

 /**
 * Music section
 */

.music-section {
  color: #F4EFEC;
  background-image: url("../images/wood.jpg");
  background-size: cover;
  text-align: center;
}

/**
 * Weather section
 */

 .weather-section {
    background-image: url("../images/plants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-image: url("../images/rainbow-island.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
    height: 700px;
    position: relative;
}

.footer-text {
    position: absolute;
    bottom: 40px;
    color: #ffffff;
    z-index: 99;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.footer-text h4 {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.footer-text p {
    font-size: .7rem;
    margin-bottom: .5rem;
}

.flower {
  width: 2rem;
}

.blue-extend {
  background-color: red;
  height: 100px;
}

.footer-text .legal-text{
  font-family: 'Londrina Solid', cursive;
  font-size: 1.125rem;
  letter-spacing: 1px;
}
